html, body{
    font-family: 'Roboto', sans-serif !important;
    height: 100%;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    
    font-size: 15px;
    background: white;
    /* line-height: 1.64;
    margin: 0;*/
    overflow-x: hidden;
}


/***********navbar****************/

#nb1 img{
    width: 3.5rem;
    height: 4.5rem;
}

#nb1 .nav-link{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-left: 2rem;
}

#nb1 .nav-link:hover{
    color: yellow;
}

.navbar.scrolled {
    background: linear-gradient(100.98deg, #049E45 -19.09%, #001F0D 117.78%);
    transition: background 500ms;
}

.nav-link {
    text-transform: uppercase;
    text-decoration: none;
    color: yellow;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 1;
  }
  
  .nav-link:hover {
    opacity: 1;
  }
  
  .nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: yellow;
  }
  
  .nav-link-ltr::before {
    width: 0%;
    bottom: 10px;
  }
  
  .nav-link-ltr:hover::before {
    width: 100%;
  }

  #nb1 .activeNav{
    color: yellow;
  }

  .activeNav.nav-link-ltr::before{
    width: 100%;
  }

/********home page**************/

/* .home{
    width : 100%;
    overflow: hidden;
    margin-bottom: -12rem;
} 

.home > img{
    width : 100%;
    margin-top: -3vw;
} */

.jumbotron{
  background: no-repeat center url("./images/eco_home_page_1.JPG");
  background-size: cover;
  height: 100vh;
  color: white;
  margin-bottom: 0;

}


.jumbotron .container h1{
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 15px;
  /* border-bottom: 1px solid #FFFFFF; */
  border-bottom-color: rgba(255,255,255,0.35);
  display: inline-block;
  
}



.jumbotron p{
  font-size: 3rem;
  border-top: 1px solid #FFFFFF;
}

.jumbotron .container{
  position: relative;
  top: 30%;
  z-index: 4;
  text-align: center;

}

.jumbotron .overlay{
  background-color: black;
  position:absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.7;
  z-index: 2;
}

 
/*************aboutUs***************/

#aboutUs{
    padding: 40px 180px;
} 

#aboutUs h2{
    /* padding-top: 5rem ; */
    font-weight: 700;
    font-size: 3rem;
    color: #008000;
}

#aboutUs .vision{
    font-size: 1.5rem;
}

/*************team page**************/

#team{
    padding: 40px 140px;
    /* display: flex; */
}

#team h2{
    font-weight: 700;
    font-size: 3rem;
    color: #008000;
}

#team .btn-floating{
    background-color: #007bff;
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: 3rem;
    text-align: center;
    color: #fff;
    border-radius: 50%;
}

#team .btn-floating:hover{
   background-color: #7CA8FF;
   filter: drop-shadow(0 0 0.25rem grey);
}

#multi-item-example .btn{
    color: white;
}



/**********events page*****************/

#projects{
    padding: 40px 180px;
}

#projects .heading{
    font-weight: 700;
    font-size: 3rem;
    color: #008000;
}



.isFlex1{
    display: flex;
    justify-content: center;
}

.isFlex{
    display: flex;
    justify-content: center;
}

#viewMore{
  margin-top: 2rem;
}

#viewLess{
  margin-top: 2rem;
}

.hide{
  display: none;
}


figure {
    /* font-family: 'Open sans'; */
  margin: 0;
  padding: 0;
  height: 300px;
  max-width: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 3px solid #fff;
}
figcaption,figcaption h3 ,figcaption p,img{
      -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
      -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 250px;
  background: #292929b6;
  color: #fff;

}
figcaption h3,figcaption p{
  padding: 10px 20px;
}
figcaption h3 {
  font-weight: 400;
  color: yellow;
  position: relative;
  font-size: 30px;
}
figcaption p {
  margin-bottom: 0;
  margin-top: 20px;
  position: relative;
  left: 100%;
  font-size: 13px;
}
figcaption a {
  color: #ffffff;
  border: 2px solid #fff;
  padding: 4px 10px;
  text-decoration: none;
    background: transparent;
} 

figcaption a:hover{
    text-decoration: none;
    color: yellow;
    border:2px solid yellow;
    transition: 0.3s;
}


figure:hover figcaption {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  opacity: 1;
  top: 0;
}
figure:hover img{
  transform: scale(1.1);
}
figure:hover h3, figure:hover p {
  left: 0px;
}

#projects .col-lg-6{
    padding-top: 3rem;
    padding-right: 3rem;;
}

#projects figure img{
    width: 100%;
    height: 250px;
}

#rest{
    text-align: center;
    color: black;
}

/******************footer****************/

.isFooter{
  overflow-x: hidden;
  color: white;
  background: linear-gradient(100.98deg, #049E45 -19.09%, #001F0D 117.78%);
}

.leftRow{
  padding-left: 5rem;
}

.isRight{
  border-left: 3px solid white;
  padding-left: 10%;
  padding-top: 3%;
}

.getIn{
  text-align: center;
}

.socialMedia{
  margin-bottom: 2rem;
}

/* .fa-linkedin{
 
} */

.link{
  text-decoration: none;
  color: white;
}
.link:hover{
  color: yellow;
  text-decoration: none;

}


/***************animation***********/
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }
  
  .reveal.active{
    transform: translateY(0);
    opacity: 1;
  }

  /********************Media queries*************************/

  /***********footer query*****************/
  @media(max-width: 768px){
    #nb1 img{
      width: 4.5rem;
      height: 5.5rem;
  }

    .isRight{
      border-left: none;
    }
    .topBorder{
      border-top: 3px solid #e9ecef;
      padding-top: 7%;
    }
  
    .bottomBorder{
      padding-bottom: 7%;
 
    } 

  }



  @media only screen and (max-width: 480px) {

    html{
      /* overflow-x: hidden; */
      width: 100vw;
      margin: 0;
      padding: 0;
    }

    body{
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }

    #nb1{
      width: 100vw;
      padding-right: 0;
    }

    #nb1 .nav-link{
      font-size: 1rem;
    }

    /* #rest{
      padding-top: 5rem;
    } */

    #rest h2{
      font-size: 3rem !important;
    }

    #aboutUs{
      padding: 2rem 2rem;
    }

    #aboutUs .vision{
      font-size: 1rem;
    }

    #team{
      padding: 2rem 2rem;
    }

    #team h2{
      padding-top: 3rem !important;
    }

    #projects{
      padding: 2rem 2rem;
    }

    #projects h2{
      padding-top: 3rem !important;
    }

    #projects .col-lg-6{
      padding-right: 0;
    }

    #projects .quotes{
      padding-bottom: 1rem;
    }



    .getIn{
      padding-bottom: 10rem;
    }

    .leftRow{
      padding-left: 3rem;
      display: inline;
    }

    .link{
      font-size: 1rem;
    }

    .fa-telegram{
      padding-right: 7.4%;
    }

  }

  @media only screen and (min-width: 481px) and (max-width: 768px){
    html{
      /* overflow-x: hidden; */
      width: 100vw;
      margin: 0;
      padding: 0;
    }

    body{
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }

    #nb1{
      width: 100vw;
      padding-right: 0;
    }

    #nb1 .nav-link{
      font-size: 1rem;
    }

    /* #rest{
      padding-top: 5rem;
    } */

    #rest h2{
      font-size: 3rem !important;
    }

    #aboutUs{
      padding: 2rem 2rem;
    }

    #aboutUs .vision{
      font-size: 1.2rem;
    }

    #team{
      padding: 2rem 20vw;
    }

    #team h2{
      padding-top: 3rem !important;
    }

    #projects{
      padding: 2rem 2rem;
    }

    #projects h2{
      padding-top: 3rem !important;
    }

    #projects .col-lg-6{
      padding-right: 0;
    }

    #projects .quotes{
      padding-bottom: 1rem;
    }

    .isRight{
      font-size: 1.2rem;
    }



    .getIn{
      padding-bottom: 10rem;
    }

    .leftRow{
      padding-left: 3rem;
      display: inline;
    }

    .link{
      font-size: 1.2rem;
    }

    .fa-telegram{
      padding-right: 7.4%;
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 992px){
    html{
      /* overflow-x: hidden; */
      width: 100vw;
      margin: 0;
      padding: 0;
    }

    body{
      overflow-x: hidden;
      margin: 0;
      padding: 0;
    }

    #nb1{
      width: 100vw;
      padding-right: 0;
    }

    #nb1 .nav-link{
      font-size: 1rem;
    }

    /* #rest{
      padding-top: 5rem;
    } */

    #rest h2{
      font-size: 3rem !important;
    }

    #aboutUs{
      padding: 2rem 5rem;
    }

    #aboutUs .vision{
      font-size: 1.2rem;
    }

    #team{
      padding: 2rem 20vw;
    }

    #team h2{
      padding-top: 3rem !important;
    }

    #projects{
      padding: 2rem 5rem;
    }

    #projects h2{
      padding-top: 3rem !important;
    }

    #projects .col-lg-6{
      padding-right: 0;
    }

    #projects .quotes{
      padding-bottom: 1rem;
    }

    .isRight{
      font-size: 1rem;
    }

    .link{
      font-size: 0.8rem;
    }

    .fa-telegram{
      padding-right: 7.4%;
    }
  }

  /********************typing effect ********************/

  /* .type-wrap {
    font-size: 50px;
    padding: 20px;
  }

  .typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
  }

  @keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
  } */

  .typing{
    /* top: 50%; */
    /* left: -10%; */
    color: white;
    font-size: 3rem;
}


.typing::after{
    content: "";
    color: white;
    position: absolute;
    bottom: 1rem;
    height: 5rem;
    width: 5px;
    border-right: 3px solid white;
    animation: blink 1s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} 